@font-face{
    font-family: "Pacifico";
    src: url("../font/PACIFICO.TTF");
}
@font-face{
    font-family: "Quicksand-Bold";
    font-weight: 700;
    src: url("../font/Quicksand-Bold.ttf");
}
@font-face{
    font-family: "Quicksand-Light";
    font-weight: 400;
    src: url("../font/Quicksand-Light.ttf");
}