@font-face {
    font-family: "Pacifico";
    src: url("../font/Pacifico.ttf");
}
@font-face {
    font-style: normal;
    font-family: "Quicksand";
    font-weight: 700;
    src: url("../font/Quicksand-Bold.ttf");
}
@font-face {
    font-style: normal;
    font-family: "Quicksand";
    font-weight: 400;
    src: url("../font/Quicksand-Light.ttf");
}

@font-face {
    font-family: 'iconfont';
    src: url('../font/font_97ronkgcfew/iconfont.eot');
    src: url('../font/font_97ronkgcfew/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/font_97ronkgcfew/iconfont.woff2') format('woff2'),
    url('../font/font_97ronkgcfew/iconfont.woff') format('woff'),
    url('../font/font_97ronkgcfew/iconfont.ttf') format('truetype'),
    url('../font/font_97ronkgcfew/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}